[submodule "libigl"]
	path = libigl
	url = https://github.com/libigl/libigl.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
